<!DOCTYPE html>
<html>
<head>
  <title>Railsblocks::Tenant</title>
  <%= stylesheet_link_tag    "railsblocks/tenant/application", media: "all" %>
  <%= javascript_include_tag "railsblocks/tenant/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
